<h1>{{post.title.rendered}}</h1>
<div ng-bind-html="post.content.rendered | to_trusted"></div>

<div ng-if="post.acf.name">
	<p>{{post.acf.name}}</p>
	<p>{{post.acf.description}}</p>
	<img ng-src="{{post.acf.image.sizes.medium}}" />
</div>
<div ng-if="!post.acf.name">No Name</div>