html {
  font-family: 'Scrhllbrg', sans-serif; 
}

code,
kbd,
pre,
samp {
  font-family: 'Cutive Mono', monospace;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.btn,
a.button {
  cursor: pointer;  
  box-sizing: border-box;
  background-color: #e66349; 
  border: 1px solid #f7efe2;  
  border-radius: 0; 
  min-height: 36px;
  padding: 0 12px;   
  letter-spacing: 0;
  text-transform: uppercase;
  color: #f7efe2;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}

.btn {
  padding-top: 7px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button {
  line-height: normal;
  overflow: visible;
  -webkit-appearance: none; 
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* a links as button */
[role="button"] {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  padding-top: 9px;
}

[role="button"]:hover {
  text-decoration: none;
}

button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

form {
  color: #666666;
}

/*
form label {
  width: 100%;
  float: left;
  clear: both;
  margin: 26px 0 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #888888;
}
*/

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input:focus,
textarea:focus {
  box-shadow: 5px 5px 5px 0px rgba(51,51,51,0.06);
  border-color: rgba(255, 255, 255, 0) !important;
  z-index: 1;
  background-color: #ffffff !important;
  color: #333333 !important;
}

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  box-shadow: none;
}

input[type="submit"]:focus,
button:focus,
a.button:focus,
[role="button"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #fefefe; 
  border: 1px solid #aaaaaa !important;  
  color: #888888 !important;  
}

input[type="radio"],
input[type="checkbox"] {
  color: #666666; 
	margin: 9px 10px 9px 0;   
}

input[type='checkbox'] {
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  appearance: checkbox !important;	
	width: auto !important;
	float: none !important;
}

input[type='radio'] {
  -webkit-appearance: radio !important;
  -moz-appearance: radio !important;
  -ms-appearance: radio !important;
  -o-appearance: radio !important;
  appearance: radio !important;	
	width: auto !important;
	float: none !important;
}

select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font: inherit;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  color: #666666;
  outline: none;
  outline-color: #eeeeee;  
  margin: 0;
  padding: 2px 6px;
  min-height: 38px;
  vertical-align: top;
}

textarea,
input[type="text"],
input[type="email"] {
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-bottom: 1px solid #3c3c36;
  color: #3c3c36;
  outline: none;
  outline-color: #eeeeee;  
  margin: 0;
  padding: 2px 6px;
  min-height: 38px;
  vertical-align: top;  
}

select {
  background-image: url('images/dd_arrow-grey.png');
  background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-grey.svg');  
  background-repeat: no-repeat;
  background-size: 38px 38px;
  background-position: right center;   
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #888888;
  font-weight: 600;
  font-size: 0.9em;
  padding: 2px 38px 2px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;    
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  background-image: none;
  letter-spacing: 0;
  text-transform: none;
  padding: 2px 6px;
}

select:focus {
  color: #777777;
  background-image: url('images/dd_arrow-grey_darker.png');
  background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-grey_darker.svg');   
}

select[multiple]:focus {
  background-image: none;  
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #fefefe;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #fefefe;  
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #aaaaaa;
  opacity: 1;  
}

input.placeholder_text,
textarea.placeholder_text {
  color: #bbbbbb;
  opacity: 1;  
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select[size="0"],
select[size="1"] {
  height: 38px;
}

textarea {
  min-height: 74px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  width: 100%;
}

optgroup {
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-family: inherit;
}
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button::-moz-focus-inner {
    padding:0;
    border:0;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888888), color-stop(1, #333333));
    border: 0;
    color: #ffffff;
    font: inherit;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #333333 0 0 1px;
    min-height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    box-shadow: none;
    background: #888888;
    border-color: #888888;
  }
}

/*
<<<<<<<<<<<<<<<<
Colours
<<<<<<<<<<<<<<<<
*/

.colour-coral.lighter {
  color: #498a8b;
}

.colour-coral {
  color: #1c6d6e;  
}

.colour-coral.darker {
  color: #165758;  
}

.colour-beige.lighter {
  color: #f7efe2;
}

.colour-beige {
  color: #f5ebdb;  
}

.colour-beige.darker {
  color: #c4bcaf;  
}

.colour-green.lighter {
  color: #d2d56d;
}

.colour-green {
  color: #c7cb49;  
}

.colour-green.darker {
  color: #9fa23a;  
}

.colour-olive.lighter {
  color: #939953;
}

.colour-olive {
  color: #787f28;  
}

.colour-olive.darker {
  color: #606620;  
}

.colour-darkblue.lighter {
  color: #336772;
}

.colour-darkblue {
  color: #00414f;  
}

.colour-darkblue.darker {
  color: #00343f;  
}

.colour-blue.lighter {
  color: #8dc0c9;
}

.colour-blue {
  color: #71b0bc;  
}

.colour-blue.darker {
  color: #5a8d96;  
}

.colour-red.lighter {
  color: #ec826d;
}

.colour-red {
  color: #e76349;  
}

.colour-red.darker {
  color: #b94f3a;  
}

.colour-white {
  color: #ffffff;
}

/* Backgrounds */

.bg-coral.lighter {
  background-color: #498a8b;
}

.bg-coral {
  background-color: #1c6d6e;  
}

.bg-coral.darker {
  background-color: #165758;  
}

.bg-beige.lighter {
  background-color: #f7efe2;
}

.bg-beige {
  background-color: #f5ebdb;  
}

.bg-beige.darker {
  background-color: #c4bcaf;  
}

.bg-green.lighter {
  background-color: #d2d56d;
}

.bg-green {
  background-color: #c7cb49;  
}

.bg-green.darker {
  background-color: #9fa23a;  
}

.bg-olive.lighter {
  background-color: #939953;
}

.bg-olive {
  background-color: #787f28;  
}

.bg-olive.darker {
  background-color: #606620;  
}

.bg-darkblue.lighter {
  background-color: #336772;
}

.bg-darkblue {
  background-color: #00414f;  
}

.bg-darkblue.darker {
  background-color: #00343f;  
}

.bg-blue.lighter {
  background-color: #8dc0c9;
}

.bg-blue {
  background-color: #71b0bc;  
}

.bg-blue.darker {
  background-color: #5a8d96;  
}

.bg-red.lighter {
  background-color: #ec826d;
}

.bg-red {
  background-color: #e76349;  
}

.bg-red.darker {
  background-color: #b94f3a;  
}

.bg-text {
  background-color: #3c3c36;
}

/* Button colours */

[role="button"].coral:active,
input[type="submit"].coral:active,
input[type="reset"].coral:active,
input[type="button"].coral:active,
button.coral:active,
a.button.coral:active,
.btn.coral:active {
  background-color: #498a8b;
}

[role="button"].coral,
input[type="submit"].coral,
input[type="reset"].coral,
input[type="button"].coral,
button.coral,
a.button.coral,
.btn.coral,
select.coral {
  background-color: #1c6d6e; 
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
}

[role="button"].coral:hover,
input[type="submit"].coral:hover,
input[type="reset"].coral:hover,
input[type="button"].coral:hover,
button.coral:hover,
a.button.coral:hover,
.btn.coral:hover,
select.coral:hover {
  background-color: #165758;  
}

[role="button"].beige:active,
input[type="submit"].beige:active,
input[type="reset"].beige:active,
input[type="button"].beige:active,
button.beige:active,
a.button.beige:active,
.btn.beige:active {
  background-color: #f7efe2;
}

[role="button"].beige,
input[type="submit"].beige,
input[type="reset"].beige,
input[type="button"].beige,
button.beige,
a.button.beige,
.btn.beige,
select.beige {
  background-color: #f5ebdb;
  border-color: rgba(255, 255, 255, 0);  
}

[role="button"].beige:hover,
input[type="submit"].beige:hover,
input[type="reset"].beige:hover,
input[type="button"].beige:hover,
button.beige:hover,
a.button.beige:hover,
.btn.beige:hover,
select.beige:hover {
  background-color: #c4bcaf;  
}

[role="button"].green:active,
input[type="submit"].green:active,
input[type="reset"].green:active,
input[type="button"].green:active,
button.green:active,
a.button.green:active,
.btn.green:active {
  background-color: #d2d56d;
}

[role="button"].green,
input[type="submit"].green,
input[type="reset"].green,
input[type="button"].green,
button.green,
a.button.green,
.btn.green,
select.green {
  background-color: #c7cb49;  
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
}

[role="button"].green:hover,
input[type="submit"].green:hover,
input[type="reset"].green:hover,
input[type="button"].green:hover,
button.green:hover,
a.button.green:hover,
.btn.green:hover,
select.green:hover {
  background-color: #9fa23a;  
}

[role="button"].olive:active,
input[type="submit"].olive:active,
input[type="reset"].olive:active,
input[type="button"].olive:active,
button.olive:active,
a.button.olive:active,
.btn.olive:active {
  background-color: #939953;
}

[role="button"].olive,
input[type="submit"].olive,
input[type="reset"].olive,
input[type="button"].olive,
button.olive,
a.button.olive,
.btn.olive,
select.olive {
  background-color: #787f28;  
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
}

[role="button"].olive:hover,
input[type="submit"].olive:hover,
input[type="reset"].olive:hover,
input[type="button"].olive:hover,
button.olive:hover,
a.button.olive:hover,
.btn.olive:hover,
select.olive:hover {
  background-color: #606620;  
}

[role="button"].darkblue:active,
input[type="submit"].darkblue:active,
input[type="reset"].darkblue:active,
input[type="button"].darkblue:active,
button.darkblue:active,
a.button.darkblue:active,
.btn.darkblue:active {
  background-color: #336772;
}

[role="button"].darkblue,
input[type="submit"].darkblue,
input[type="reset"].darkblue,
input[type="button"].darkblue,
button.darkblue,
a.button.darkblue,
.btn.darkblue,
select.darkblue {
  background-color: #00414f;  
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
}

[role="button"].darkblue:hover,
input[type="submit"].darkblue:hover,
input[type="reset"].darkblue:hover,
input[type="button"].darkblue:hover,
button.darkblue:hover,
a.button.darkblue:hover,
.btn.darkblue:hover,
select.darkblue:hover {
  background-color: #00343f;  
}

[role="button"].blue:active,
input[type="submit"].blue:active,
input[type="reset"].blue:active,
input[type="button"].blue:active,
button.blue:active,
a.button.blue:active,
.btn.blue:active {
  background-color: #8dc0c9;
}

[role="button"].blue,
input[type="submit"].blue,
input[type="reset"].blue,
input[type="button"].blue,
button.blue,
a.button.blue,
.btn.blue,
select.blue {
  background-color: #71b0bc; 
  color: #ffffff; 
  border-color: rgba(255, 255, 255, 0);
}

[role="button"].blue:hover,
input[type="submit"].blue:hover,
input[type="reset"].blue:hover,
input[type="button"].blue:hover,
button.blue:hover,
a.button.blue:hover,
.btn.blue:hover,
select.blue:hover {
  background-color: #5a8d96;  
}

[role="button"].red:active,
input[type="submit"].red:active,
input[type="reset"].red:active,
input[type="button"].red:active,
button.red:active,
a.button.red:active,
.btn.red:active {
  background-color: #ec826d;
}


[role="button"].red,
input[type="submit"].red,
input[type="reset"].red,
input[type="button"].red,
button.red,
a.button.red,
.btn.red,
select.red {
  background-color: #e76349; 
  color: #ffffff; 
  border-color: rgba(255, 255, 255, 0);
}

[role="button"].red:hover,
input[type="submit"].red:hover,
input[type="reset"].red:hover,
input[type="button"].red:hover,
button.red:hover,
a.button.red:hover,
.btn.red:hover,
select.red:hover {
  background-color: #b94f3a;  
}

select.coral,
select.green,
select.olive,
select.darkblue,
select.blue,
select.red  {
  background-image: url('images/dd_arrow-white.png');
  background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-white.svg'); 
}

a {
  color: #71b0bc;
}

/*
<<<<<<<<<<<<<<<<
Cards
<<<<<<<<<<<<<<<<
*/

.cardwrapper {
  box-sizing: border-box;
  padding: 20px;
  float: left;  
}

.card {
  box-sizing: border-box;
  padding: 24px;
}

.card.midshadow {
  box-shadow: 5px 5px 5px 0px rgba(51,51,51,0.06);
  border-left: 1px solid #fafafa;
  border-top: 1px solid #f8f8f8;
  border-radius: 3px 0px 0px 0px;
}

.card.regular {
  background-color: #fefefe; 
  color: #333333;   
}

.card p {
  margin: 0;
}

/*
<<<<<<<<<<<<<<<<
DEMO styles
<<<<<<<<<<<<<<<<
*/

body.demo .modalback {
  background: #ffffff;
  opacity: 0.8;
  display: none;
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9980;
}

body.demo .modalback.toggled {
  display: block;
}

body.demo .a-modal {
  width: 30%;
  height: 197px;
}

body.demo .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  float: left;
  display: none;
  box-shadow: 5px 5px 5px 0px rgba(51,51,51,0.06);
  background-color: #fefefe;
  z-index: 10000;
}

body.demo .modal.toggled {
  display: block;
}

body.demo .buttonwrapper {
  margin: 60px 0;
}

body.demo .header-logo {
  width: 100%;
  height: 66px;
  background-image: url('images/skel1-logo-white.png');
  background-image: linear-gradient(transparent, transparent), url('images/skel1-logo-white.svg');  
  background-repeat: no-repeat;
  background-size: 152px 66px;
  background-position: left center;  
}

header nav ul {
  padding: 0;
  margin: 0;
}

header nav ul li {
  float: left;
  display: block;
  list-style: none;
  position: relative;
  padding: 0 20px 0 0;  
}

header nav ul li a {
  color: #333333;
  width: 100%;
  height: 100%;
}

header nav ul li a:hover {
  text-decoration: none; 
  color: #666666; 
}

header nav ul li:hover {
  cursor: pointer;   
}

header nav ul li ul {
  display: none;
  min-width: 125px;
  position: absolute;
  left: 0;
  z-index: 999;
  padding: 10px 0;
  box-shadow: 5px 5px 5px 0px rgba(51,51,51,0.06);
  border-color: rgba(255, 255, 255, 0) !important;
  background-color: #fefefe;
}

header nav ul li:hover ul {
  display: block; 
}

header nav ul li ul li {
  color: fuchsia;
  width: 100%;
  clear: both;
  padding: 10px 20px;
}

/*
<<<<<<<<<<<<<<<<
DEMO Desktop
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 1200px) { 
  
  nav,
  nav.toggled {
    display: block;
  }
  
  .burger-menu {
    display: none;  
  }
  
}

/*
<<<<<<<<<<<<<<<<
DEMO Tablet AND Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 1199px) { 
  
  .burger-menu {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('images/burger.png');
    background-image: linear-gradient(transparent, transparent), url('images/burger.svg');  
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: left top;  
    position: absolute;
    top: 13px;
    right: 32px;
    z-index: 10;
  }
  
  .burger-menu:hover {
    cursor: pointer;
  }

  
  nav {
    display: none;  
  }
  
  nav.toggled {
    display: block;
  }  
  
  header nav ul li {
    width: 100%;
    float: left;
  }
  
  header nav ul li ul {
    display: block;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    position: static;
    padding: 0;
  }
  
  header nav ul li ul li {
    padding: 0 20px;
  }
  
  body.demo .header-logo {
    background-position: center center;
  }
  
  .centered-content {
    padding-left: 32px;
    padding-right: 32px;
  }
  
}


/*
<<<<<<<<<<<<<<<<
DEMO Tablet
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 680px) and (max-width: 1199px) {
  
}


/*
<<<<<<<<<<<<<<<<
DEMO Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 679px) { 
  
}

/*
<<<<<<<<<<<<<<<<
IE10+ override, last in document
<<<<<<<<<<<<<<<<
*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  

  select {
    background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-grey.png') !important;  
  }
  
  select:focus {
    background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-grey_darker.png') !important;   
  }
  
  select.coral,
  select.green,
  select.olive,
  select.darkblue,
  select.blue,
  select.red  {
    background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-white.png') !important; 
  }
  
}  








