/*
<<<<<<<<<<<<<<<<
Start with doing things a bit more stylish
<<<<<<<<<<<<<<<<
*/

button:focus,
input:focus {
	outline:0;
}

select,
select:hover {
  cursor: pointer;
}

*:link, *:visited, *:hover, *:active, *:focus {
	-webkit-transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
	transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
} 

::selection {
	background: rgba(238, 130, 109, 1);
	color: #ffffff;
}
::-moz-selection {
	background: rgba(238,  130,  109, 1);
	color: #ffffff;	
} 

a,
a:active,
a:hover,
a:focus {
   outline: 0;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
  box-shadow: 0px 0px 0px rgba(255,255,255,0);
}

img {
  vertical-align: bottom;
}

html {
	-webkit-font-smoothing: antialiased;	
}

.vertical-align-container-def {
  display: table;
}

.vertical-align-container-def .def {
  display: table-cell;
  vertical-align: middle;
}

/*
<<<<<<<<<<<<<<<<
Stop doing stylish things
<<<<<<<<<<<<<<<<
*/


.propper-set-bg-image {
  background-image: url('images/skel1-logo.png');
  background-image: linear-gradient(transparent, transparent), url('images/skel1-logo.svg');  
  background-repeat: no-repeat;
  background-size: 304px 133px;
  background-position: center center;  
}

.propper-set-bg-image.proper-box {
  width: 100%;
  height: 133px;
  float: left;
  clear: both;
  margin: 40px 0;
}

/*
<<<<<<<<<<<<<<<<
General Styles
<<<<<<<<<<<<<<<<
*/


footer.page-footer {
  min-height: 50px;
}

.centered-content {
  max-width: 1000px;
  margin: 0 auto;
}

.centering {
  margin: 0 auto;  
}

.centered-text {
  text-align: center;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.hi-z {
  z-index: 1000;
}

.low-z {
  z-index: 1;
}

.inl-blk {
  display: inline-block;  
}

.image-center {
  overflow: hidden;
  position: relative;
}

.image-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
}

img.panelcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
  max-width: none;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.halfheight {
  height: 50%;
}

.halfwidth {
  width: 50%;
}

.thirdwidth {
  width: 33.33333%
}

.fourthwidth {
  width: 25%
}

.fifthwidth {
  width: 20%
}

.sixthwidth {
  width: 16.66666%
}

.topleftzero {
  top: 0;
  left: 0;
}

.leftfloat {
  float: left;
}

.rightfloat {
  float: right;
}

.linkhover:hover,
.cls:hover {
  cursor: pointer;
}

.opacity-hover:hover {
  opacity: 0.8;
}

.hiding {
  display: none !important;
}

.no-visibility {
  visibility: hidden;
  opacity: 0;
}

a.fullsize-link {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  opacity: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.uppercase {
  text-transform: uppercase;
}

.hide-on-load {
  opacity: 0;
}

.show-overflow {
  overflow: visible;
}

.contentshadow {
  background: #fcfcfc;
  box-shadow: 0px 0 60px 60px #fcfcfc;
  overflow: visible;
  z-index: -1;
  border-radius: 80px;
}

.no-show {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  text-indent: -9999px;
}

/*
<<<<<<<<<<<<<<<<
END General Styles
<<<<<<<<<<<<<<<<
*/

p {
  font-family: 'Cousine', monospace;
  font-size: 0.85em;
  line-height: 1.3em;
}

/* Radio */
.radioarea {
  width: 70%;
  float: right;
  text-align: right;
}

.radioarea ul {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.radioarea ul li {
  color: #f7efe2;
  display: inline-block;
  position: relative;
  float: none;
  width: auto;
  height: auto;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding: 8px 0 0 12px;
}

.radioarea ul li .filterlabel {
  color: #c4bcaf;
}

.radioarea ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.radioarea ul li label {
  display: block;
  position: relative;
  margin: 0 0 10px 0;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  box-sizing: border-box;
  text-align: left;
}

.radioarea ul li:hover label {
	color: #ffffff;
}

.radioarea ul li .check {
	display: none;
}

.radioarea input[type=radio]:checked ~ label {
  color: #b94f3a;
  cursor: default;
}

/* END Radio */

header {
  background-image: url('images/bg-footer.png');
  background-image: linear-gradient(transparent, transparent), url('images/bg-footer.svg');  
  background-repeat: no-repeat;
  background-size: 1827px 607px;
  background-position: left bottom; 
  height: 340px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: 100;
  width: 100%;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  background-image: url('images/bg-repeated-20.png');
  background-image: linear-gradient(transparent, transparent), url('images/bg-repeated-20.svg');  
  background-repeat: repeat;
  background-size: 249px 243px;
  background-position: left -83px top -52px; 
  min-height: 200px; 
  position: relative;
  z-index: 2;
  padding: 68px 0 80px 0;
  margin-top: -68px;
  overflow: hidden;
}

main::after {
  content: '';
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, #ffffff 100%);
  position: absolute;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

footer {
  background-image: url('images/bg-footer.png');
  background-image: linear-gradient(transparent, transparent), url('images/bg-footer.svg');  
  background-repeat: no-repeat;
  background-size: 1827px 607px;
  background-position: left bottom; 
  height: 600px; 
  width: 100%;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}

section {
  position: relative;
  z-index: 10;
}

.shape {
  float: left;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}

.titleshape {
  -webkit-clip-path: polygon(100% 0, 0 20%, 100% 80%);
  clip-path: polygon(100% 0, 0 20%, 100% 80%);
  width: 100%;
  height: 340px;
  top: 0;
  right: 0;
  padding-right: 40px;
}

.titleshape h1 {
  text-align: right;
  font-size: 70px;
  font-weight: 500;
  line-height: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 1em;
  transform: rotate(0deg);
}

.titleshape h1 .mid {
  font-size: 52px;
}

.titleshape h1 .small {
  font-size: 35px;
}

.detailpage .titleshape {
  text-align: right;
}

.detailpage .titleshape .areas {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.subtitleshape {
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
  width: 534px;
  height: 128px;
  bottom: 0;
  left: 0;
  padding-left: 20px;
}

.subtitleshape .def {
  transform: rotate(-2deg);
  padding-bottom: 16px;
}

.subtitleshape h2 {
  text-transform: uppercase;
  line-height: 1em; 
  float: left; 
}

.subtitleshape h2.large {
  font-size: 50px;
}

.subtitleshape h2.mid {
  font-size: 21px;
  text-align: left;
  padding-left: 6px;
}

.contactshape {
  -webkit-clip-path: polygon(100% 0, 0 65%, 100% 100%);
  clip-path: polygon(100% 0, 0 65%, 100% 100%);
  width: 100%;
  height: 600px;
  top: 0;
  right: 0;
  padding-right: 40px;  
}

.contactheadershape {
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 534px;
  height: 228px;
  top: 0;
  left: 0;
  padding-left: 20px;  
}

.navigator {
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  transform: rotate(-2deg);
  margin-bottom: 40px;
  position: relative;
  z-index: 100;
}

.navigator a {
  color: #E66349;
  font-weight: 600;
  padding: 0 6px;
}

.navigator a:hover {
 color: #b94f3a;
}

.halfimg {  
  min-height: 360px;
  background-repeat: no-repeat;
  background-size: 270px 360px;
  position: absolute;
  bottom: 0; 
}

.halfimg.left {
  background-image: url('images/introimg-left-main.png');
  background-image: linear-gradient(transparent, transparent), url('images/introimg-left-main.svg'); 
  background-position: right 20px bottom -10px; 
  left: 0;
}

.halfimg.right {
  background-image: url('images/introimg-right-main.png');
  background-image: linear-gradient(transparent, transparent), url('images/introimg-right-main.svg'); 
  background-position: left 20px bottom -10px; 
  right: 0;
}

.intro:hover .halfimg.left {
  background-image: url('images/introimg-left-simple.png');
  background-image: linear-gradient(transparent, transparent), url('images/introimg-left-simple.svg'); 
}

.intro:hover .halfimg.right {
  background-image: url('images/introimg-right-simple.png');
  background-image: linear-gradient(transparent, transparent), url('images/introimg-right-simple.svg'); 
}

.intro .mid {
  min-height: 360px;
  padding: 0.75em 0 1.5em 0;  
}

.content h1 {
  text-transform: uppercase;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 2.1px;
  font-weight: 500;
  color: #b94f3a;
  margin: 0 0 30px 0;
}

footer h1 {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 2.1px;
  font-weight: 500;
  color: #ec826d;
  margin: 0;
  transform: rotate(-1deg);
}

.bar {
  min-height: 80px;
  padding: 24px 44px 0 44px;
  margin-top: -1px;
}

.bar h2 {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1.6px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  width: 30%;
  float: left;
  transform: rotate(-3deg);
}

.results .overlay {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 160px 30px 20px 30px;
  box-sizing: border-box;
  color: #3c3c36;
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.3s;
}

.results a:hover .overlay {
  color: #ffffff;
  background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%);
 }

.noimage {
  width: 100%;
  height: 400px;
  background-color: #ec826d;
  float: left;
}

.results {
  padding: 20px;
}

.results article {
  box-sizing: border-box;
  padding: 4px;
}

/* Masonry container */
.results { 
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  box-sizing: border-box;
}

.results img {
  width: 100%;
  max-width: 400%;
}

.results .grid-col {
  display: inline-block;
  float: none;
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 12px;
 }
 
.results h3 {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  margin: 0 0 0 0;
 }
 
 .results .btn {
   transition: all 0.3s;
   height: 0;
   overflow: hidden;
   min-height: 0;
   padding: 0;
   box-shadow: 2px 2px 0 0 rgba(245, 235, 218, 0);
   border: 0;
 }
 
.results a:hover .btn {
  padding-top: 5px;
  font-size: 14px;
  margin: 20px 0 10px 0;
  border-color: #b94f3a;
  box-shadow: 2px 2px 0 0 #f4eada;
  height: auto;
  min-height: 34px;
}
 
.cvarea .bar {
 transform: rotate(0.5deg);
}

.excerpt {
 padding: 4px;
 box-sizing: border-box;
}

.excerpt .grid-col {
 height: 16.6vw;
 box-sizing: border-box;
 padding: 4px;
 overflow: hidden;
}

.excerpt .grid-col .def {
 background-color: #3c3c36;
 padding: 10px;
 text-align: center;
 color: #f7efe2;   
}

.excerpt .grid-col.education .def {
 color: #8dc0c9; 
 background-color: #336772;   
}

article.cvarea .articlemargin {
  padding-top: 6vw;
  width: 100%;
  float: left;
}

.hex {
  width: 33vw;
  height: 33vw;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: relative;
  float: left;
  margin: 0;
  margin-top: -5.5vw;
  text-align: center;
  background-image: url('images/cube1.png');
  background-image: linear-gradient(transparent, transparent), url('images/cube1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.hex:hover {
  transform: scale(1.2);
}

.hex .def {
  padding: 30px;
}

.hex:nth-of-type(4),
.hex:nth-of-type(9) {
  margin-left: 16vw;
}

.hex:nth-of-type(5),
.hex:nth-of-type(10) {
  margin-right: 16vw;
}

.hex:nth-of-type(2),
.hex:nth-of-type(6),
.hex:nth-of-type(10) {
  background-image: url('images/cube2.png');
  background-image: linear-gradient(transparent, transparent), url('images/cube2.svg');  
}

.hex:nth-of-type(3),
.hex:nth-of-type(4),
.hex:nth-of-type(7) {
  background-image: url('images/cube3.png');
  background-image: linear-gradient(transparent, transparent), url('images/cube3.svg');  
}

.hex:nth-of-type(5),
.hex:nth-of-type(11) {
  background-image: url('images/cube4.png');
  background-image: linear-gradient(transparent, transparent), url('images/cube4.svg');  
}

.hex:nth-of-type(12) {
  background-image: url('images/cube5.png');
  background-image: linear-gradient(transparent, transparent), url('images/cube5.svg');  
}

.hex:nth-of-type(13) {
  background-image: url('images/cube6.png');
  background-image: linear-gradient(transparent, transparent), url('images/cube6.svg');  
}

.item.name,
.item.email {
  float: right;
  width: 40%;
  clear: both;
  padding: 10px 0;
}

.wpcf7-form {
  padding-top: 60px;  
}

.item.message {
  float: right;
  width: 50%;
  clear: both;
  padding: 10px 0;  
}

.item.send {
  float: right;
  width: auto;
  position: absolute;
  right: 40px;
  bottom: 60px;  
}

.fffield {
  position: relative;
}

.fffield label {
  width: auto;
  float: left;
  text-align: left;
  color: #ec826d;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 16px 14px 0 0;
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 100;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.fffield.focused label {
  font-size: 12px;
  left: -100px;
  text-align: right;
  width: 100px;
  color: #5a8d96;
}

.fffield.filled label {
  display: none;
}

.item.message label {
  padding: 0 14px 0 0;
}

.wpcf7-form-control-wrap.your-name,
.wpcf7-form-control-wrap.your-email,
.wpcf7-form-control-wrap.your-message {
  float: right;
  width: 100%;
}

.wpcf7-form-control-wrap.your-message textarea {
  height: 150px;
}

.contactdetails {
  color: #ec826d; 
  position: absolute;
  left: 250px;
  bottom: 190px; 
  transform: rotate(2deg);
}

.contactdetails a {
  color: #ec826d;  
}

.contactdetails a:hover {
  color: #b94f3a;
}

.areasheader {
  padding-bottom: 12px;
  transform: rotate(-1deg);
}

ul.slick-dots {
  margin: 20px 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
}

ul.slick-dots li {
  list-style: none;
  display: inline-block;
}

ul.slick-dots li button {
  text-indent: -9999px;
  border-radius: 100px;
  padding: 0;
  width: 20px;
  height: 20px;
  min-height: 20px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #8dc0c9;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

ul.slick-dots li.slick-active button {
  background: #8dc0c9;
}

ul.slick-dots li.slick-active button:focus,
ul.slick-dots li.slick-active button:active {
  border: 1px solid #8dc0c9;  
}

.wrapper.mainimagearea {
  
}

.slick-list {
  padding-top: 60px;
  transform: rotate(1deg);
/*   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.slick-list img {
/*   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
}

.whitbg {
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10% , rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
  width: 100%;
  float: left;
  padding: 60px 0;
}

h2.backlink {
  margin: 0;
}

#content.detailpage h2 {
  font-weight: 500;
  color: #b94f3a;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#content.detailpage main {
  padding: 100px 0 80px 0;
}

.showfullcv .btn {
  width: auto;
  display: inline-block;
  padding-top: 9px;
  margin: 30px 0;
}

.fullcv {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
  transform: rotate(-0.5deg);
}

.fullcv section {
  margin: 40px 0;
}

.fullcv h3 {
  font-weight: 600;
  color: #8c897f;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.fullcv h2 {
  color: #8c897f;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fullcv h4 {
 color: #8dc0c9;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-size: 0.75em;
}

.fullcv p strong {
  color: #336772;
}

.cvicon {
  display: inline-block;
  height: 24px;
  margin-bottom: 20px;
}

.cvicon p {
  display: inline-block;
  margin: 0 12px 0 6px;
  color: #8c897f;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Scrhllbrg', sans-serif;
  font-size: 0.8em;
  position: relative;
  top: -6px;
}

.cvicon .theicon {
  background-image: url('images/cvicons.png');
  background-image: linear-gradient(transparent, transparent), url('images/cvicons.svg');  
  background-repeat: no-repeat;
  background-size: 96px 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.cvicon.time .theicon {
  background-position: left center;
}

.cvicon.company .theicon {
  background-position: left -24px center;
}

.cvicon.location .theicon {
  background-position: left -48px center;
}

.cvicon.profession .theicon {
  background-position: left -72px center;
}

.item.send input {
  padding: 5px 12px 0 12px;
}

.item.send input:hover {
  transform: scale(1.1);
}

.titleshape h1 {
  padding-left: 45%;
}

.slidetext {
  padding: 30px;
  font-family: 'Cousine', monospace;
  font-size: 14px;
}

audio {
  height: 40px;
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -20px 0 20px -200px;
}

.bubl1,
.bubl2 {
  background: #336772;
  color: #ffffff;
  padding: 20px;
  float: left;
  clear: both;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
}

.bubl1 {
  background: #00343f;
}

.slick-slide {
  min-height: 200px !important;
}

section#portfolio img {

}

section#portfolio a:hover img {
  filter: grayscale(70%) contrast(120%);
  -webkit-filter: grayscale(70%) contrast(120%);
}

.singlearea {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 14px;
}

.results article {
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}

div.wpcf7-validation-errors {
  border: 0 solid #f7e700;
}

span.wpcf7-not-valid-tip {
  color: #ffffff;
  font-size: 0.8em;
  display: inline-block;
  background: #b94f3a;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 42px;
  z-index: 2000;
}

div.wpcf7-response-output {
  margin: 0;
  padding: 0;
  width: 300px;
  position: absolute;
  right: 40px;
  top: 150px;
  text-align: right;
}

.casestudy ul {
  padding: 0;
}

.casestudy li {
  font-family: 'Cousine', monospace;
  font-size: 0.85em;
  line-height: 1.3em;
  list-style-position: inside;
  margin: 0.5em 0;
}

.portfolio .bar {
  border-bottom: 1px solid #c4bcaf;
}

#portfolio.portfolio {
  margin-bottom: 40px;
}

.error-404 {
  padding-top: 100px;
}
