/*
<<<<<<<<<<<<<<<<
Desktop
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 1200px) { 
  
  
  
}


/*
<<<<<<<<<<<<<<<<
Tablet AND Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 1199px) { 
  
}


/*
<<<<<<<<<<<<<<<<
Tablet
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 680px) and (max-width: 1199px) {
  
  /* Masonry container */
  .results { 
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    box-sizing: border-box;
  }
  
 .excerpt .grid-col {
   height: 25vw;
  }
  
}


/*
<<<<<<<<<<<<<<<<
Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 679px) { 
  
   .results .grid-col {
     margin-bottom: 12px;
   }
  
  /* Masonry container */
  .results { 
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    box-sizing: border-box;
  }
  
  .results .grid-col .inside {
     max-height: 320px;
  }
  
 .excerpt .grid-col {
   height: 50vw;
  }

  
}


/*
<<<<<<<<<<<<<<<<
IE10+ override, last in document
<<<<<<<<<<<<<<<<
*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  
}  
