body {
  background-color: #3c3c36;
}

.login form {
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0);
  box-shadow: 0 1px 3px rgba(0,0,0,0);
}

.login label {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  display: block;
  text-align: center;
}

.wp-core-ui .button.button-large {
  padding: 10px 0;
}

.login #login_error {
  border: 1px solid #ffffff;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
}

.wp-core-ui .button.button-large {
  height: auto;
}

.login form .input {
  margin-top: 20px;
}

.login h1 a {
  display: none;
}

.wp-core-ui .button-primary {
  background-color: #8dc0c9;
  text-shadow: 0 -1px 1px rgba(0, 102, 153, 0), 1px 0 1px rgba(0, 103, 153, 0), 0 1px 1px rgba(0, 103, 153, 0), -1px 0 1px rgba(0, 103, 153, 0);
  border: 0;
  border-radius: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.6em;
}


