@font-face {
  font-family: 'Scrhllbrg';
  src: url('CliftonBla.eot'); /* IE9 Compat Modes */
  src: url('CliftonBla.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CliftonBla.woff') format('woff'), /* Modern Browsers */
       url('CliftonBla.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CliftonBla.svg#44553dba4f229d168a969c728642321d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Scrhllbrg';
  src: url('Fjugesta-Bold.eot'); /* IE9 Compat Modes */
  src: url('Fjugesta-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fjugesta-Bold.woff') format('woff'), /* Modern Browsers */
       url('Fjugesta-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fjugesta-Bold.svg#ac6fd33aa26687ddd6dbffa3c636d00d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Scrhllbrg';
  src: url('FjugestaCondensed-Bold.eot'); /* IE9 Compat Modes */
  src: url('FjugestaCondensed-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FjugestaCondensed-Bold.woff') format('woff'), /* Modern Browsers */
       url('FjugestaCondensed-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FjugestaCondensed-Bold.svg#f374dccd61f7359abde9e49a8c0bbe4a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Scrhllbrg';
  src: url('FjugestaRegular.eot'); /* IE9 Compat Modes */
  src: url('FjugestaRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FjugestaRegular.woff') format('woff'), /* Modern Browsers */
       url('FjugestaRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FjugestaRegular.svg#e4c3dd21842717896dc100b9360f3b35') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

