<header id="masthead" class="site-header detailpage" role="banner">
  
  <div class="shape titleshape vertical-align-container-def">
    <div class="def">
      <div class="areasheader">
        <span class="areas colour-beige darker" ng-repeat="singlearea in post.acf.areas_listing"> {{singlearea}}&nbsp;&nbsp;&nbsp;</span>
      </div>
      <h1 class="colour-blue darker">
        <span class="mid">
          {{post.title.rendered}}
        </span>
      </h1>
    </div>
  </div>
  
  <div class="shape subtitleshape vertical-align-container-def">
    <div class="def">
      <h2 class="backlink"><a class="colour-red lighter" ui-sref="list">Back</a></h2>
    </div>
  </div>
  			
</header><!-- #masthead -->

<div id="content" class="site-content detailpage twelve-col-layout">

  <div id="primary" class="content-area">
  	<main id="main" class="site-main" role="main">  
    	
    	<div class="grid-col reg-six reg-left-three reg-right-three">
        <div ng-bind-html="post.content.rendered | its_trusted"></div>
    	</div>
        
      <div class="whitbg">
        <div class="grid-col reg-six reg-left-three reg-right-three">
          <div class="wrapper mainimagearea">
            <slick ng-show="post.acf.slider_images" init-onload=true data="post.acf.slider_images" autoplay=true pause-on-hover=false dots=true infinite=true speed=800 autoplay-speed=10000 slides-to-show=1 touch-move=true arrows=false slides-to-scroll=1 adaptive-height=false>
            
              <div ng-repeat="slide in post.acf.slider_images">
              <div ng-if="slide.text" class="slidetext" ng-bind-html="slide.text | its_trusted"></div>
              <img class="sldrimg" ng-src="{{slide.image.sizes.singleportfolio}}">
              <div class="pos-rel" ng-if="slide.media">
                <audio controls>
                  <source ng-src="{{slide.media.url}}" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
              </div>
            </slick>
            
            <div ng-if="post.acf.slider_images == 0">
              <img class="singleimg" ng-src="{{post.acf.main_image.sizes.singleportfolio}}">
            </div>
          
          </div>
        </div>
      </div>
      
      <h1 ng-if="post.acf.case_study" class="centered-text">Case Study</h1>
      <div class="casestudy grid-col reg-ten reg-left-one reg-right-one" ng-bind-html="post.acf.case_study | its_trusted">
      </div>
      
  	</main>
  </div>

</div><!-- #content -->