<header id="masthead" class="site-header" role="banner">
  
  <div class="shape titleshape vertical-align-container-def">
    <div class="def">
      <h1 class="colour-blue darker">
        <span class="small">{{page_title_first}}</span><br>
        {{page_title_last}}
      </h1>
    </div>
  </div>
  
  <div class="shape subtitleshape vertical-align-container-def">
    <div class="def">
        <div class="left">
          <h2 class="large colour-blue darker">Web</h2>
        </div>
        <div class="right">
          <h2 class="mid colour-blue">
            <span class="top">Developer</span><br>
            <span class="botton colour-blue lighter">Designer</span>
          </h2>
        </div>
    </div>
  </div>
  
  <div ng-controller="GlobalController">
  
  </div>
			
</header><!-- #masthead -->

<div id="content" class="site-content">
	
  <div id="primary" class="content-area">
  	<main id="main" class="site-main" role="main">
    	
    	<div class="navigator colour-beige darker">
      	DON'T FANCY SCROLLING?    
      	<a scroll-on-click href="#portfolio">PORTFOLIO</a>   
      	<a scroll-on-click href="#cvarea">CV</a>   
<!--       	<a href="#skills" target="_self">SKILLS</a>    -->
      	<a scroll-on-click href="#contact">CONTACT</a>
    	</div>
  
      <section class="intro row pos-rel leftfloat fullwidth twelve-col-layout" ng-controller="GlobalController">
        <div class="grid-col reg-three halfimg left">
        </div>
        <div class="contentshadow grid-col reg-six reg-left-three reg-right-three content mid centered-text vertical-align-container-def">
          <div class="def">
          
            <article ng-repeat="globalpost in globalposts">
              <div ng-if="globalpost.acf.position == 'introtop'">
                <h1> {{globalpost.title.rendered}} </h1>
                <div ng-bind-html="globalpost.content.rendered | its_trusted"></div>
              </div>
            </article>
          
          </div>
        </div>
        <div class="grid-col reg-three halfimg right">
        </div>
      </section>
      
      <section id="portfolio" class="portfolio row pos-rel leftfloat fullwidth bg-text twelve-col-layout">
        
        <div class="bar row fullwidth leftfloat bg-text darker colour-white">
          <h2>Portfolio</h2>
          
          <!-- Filters -->

          <div class="show-items radioarea">
            <ul ng-init="acf.area=''">
              <li>
                <label class="filterlabel">Filter:</label>
              </li>
              <li>
                <input id="customValCheckWeb" type="radio" ng-model="acf.area" value="FilterWeb"/> 
                <label class="filteritem" for="customValCheckWeb">Web</label>
                <div class="check"></div>
              </li>
              <li>
                <input id="customValCheckCasestudies" type="radio" ng-model="acf.area" value="FilterCaseStudy"/> 
                <label class="filteritem" for="customValCheckCasestudies">Case Studies</label>
                <div class="check"></div>
              </li>
              <li>
                <input id="customValCheckTheRest" type="radio" ng-model="acf.area" value="FilterTheRest"/> 
                <label class="filteritem" for="customValCheckTheRest">The Rest</label>
                <div class="check"></div>
              </li>
              <li>
                <input id="customValCheckAll" type="radio" ng-model="acf.area" value=""/>
                <label class="filteritem" for="customValCheckAll">All</label>
                <div class="check"></div>
              </li>
            </ul>
          </div>
          <!-- END Filters -->
          
        </div>
        
          <!-- Results -->
          
        <div class="results row fullwidth leftfloat twelve-col-layout">
        
          <article class="grid-col" ng-repeat="post in frontposts | filter:acf.area:strict ">
            <div class="inside pos-rel leftfloat fullwidth">
              <a ui-sref="detail({id: post.id})">
                
              <img ng-if="post.acf.main_image.sizes.portfolio" class="pos-rel mainimage" ng-src="{{post.acf.main_image.sizes.portfolio}}" alt="{{post.acf.main_image.alt}}" />
              <div ng-if="!post.acf.main_image.sizes.portfolio" class="pos-rel noimage" ng-src="" alt="{{post.acf.main_image.alt}}" >
              </div>
              <div class="centered-text overlay pos-abs colour-beige lighter">
              	<h3>{{post.title.rendered}}</h3>
              	
                <span class="singlearea" ng-repeat="singlearea in post.acf.areas_listing"> {{singlearea}}&nbsp;&nbsp;&nbsp;</span>
                
                <div class="btn">{{post.acf.button_text}}</div>
                
              	<div class="no-show">{{post.acf.area}}</div>
              	
              	
              </div>
              
              </a>
            </div>
          </article>
          
        </div>
        
          <!-- END Results -->
        
      </section>
      
      <section id="cvarea" class="cvarea row pos-rel leftfloat fullwidth twelve-col-layout" ng-controller="GlobalController">
        
        <div class="bar row fullwidth leftfloat bg-coral lighter colour-white">
      	<h2>CV</h2>
        </div>
        
        <article class="twelve-col-layout cvarea" ng-repeat="globalpost in globalposts">
          <div class="articlemargin" ng-if="globalpost.acf.position == 'cvarea'">
            <div class="excerpt" ng-bind-html="globalpost.acf.additional_content | its_trusted"></div>
            
            <div class="row fullwidth leftfloat showfullcv centered-text" ng-click="showDetails = ! showDetails">
              <div class="btn red" ng-hide="showDetails">
                View full CV
              </div>
              <div class="btn red" ng-show="showDetails">
                Hide full CV
              </div>
              <a ng-href="#/print" target="_blank">
                <div class="btn blue print" ng-show="showDetails">
                  Print version
                </div>
              </a>
              
            </div>
            
            <div class="row fullcv fullwidth leftfloat grid-col reg-eight reg-left-two mob-ten mob-left-one" ng-show="showDetails" ng-bind-html="globalpost.content.rendered | its_trusted"></div>
            
            <div class="row fullwidth leftfloat showfullcv centered-text" ng-click="showDetails = ! showDetails">
              <div class="btn red" ng-show="showDetails">
                Hide full CV
              </div>
              <a ng-href="#/print" target="_blank">
                <div class="btn blue print" ng-show="showDetails">
                  Print version
                </div>
              </a>
            </div>

          </div>
        </article>
      	
      </section>
    
  	</main>
  </div>

</div><!-- #content -->