

<div id="content" class="site-content detailpage twelve-col-layout">

  <div id="primary" class="content-area" ng-controller="GlobalController">
  	<main id="main" class="site-main" role="main">  
    	
        <article ng-repeat="globalpost in globalposts">
          <div ng-if="globalpost.acf.position == 'cvarea'">
            
            <div class="row" ng-bind-html="globalpost.content.rendered | its_trusted">
            </div>
            
          </div>
        </article>
      
  	</main>
  </div>

</div><!-- #content -->